* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  /*variables*/
  --bg-color: rgba(68, 36, 36, 0.911);
  --text-color: black;
  --primary-color: rgb(204, 97, 26);
  --primary-color-dark: rgb(139, 56, 0);
}

img.avatar {
  border-radius: 80%;
  width: 150px;
  height: 150px;
  padding: 6.6px;
  border: grey solid 4px;

}

header {
  margin: 2px;
  padding: 1px 5px;
  height: 180px;
  width: 1000px;
}

header h1 {
  position: relative;
  top: 2px;
  left: 180px;
  top: -100px;
}

.light section {
  position: relative;
  left: 10px;

}

body.light {
  --bg-color: rgba(255, 255, 255, 0.911);
  --text-color: black;
}

body.dark-green {
  --bg-color: rgb(2, 48, 2);
  --text-color: rgb(130, 199, 18);
  --primary-color: rgba(255, 255, 255, 0.911);
  --primary-color-dark: rgba(255, 255, 255, 0.61);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'roboto', sans-serif;
}

.container {

  text-align: center;
  width: 400px;
  margin: 90px auto 60px;
  padding: 3px 40px;
}

img {
  width: 100%;

}

ul {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 100px;
}

h1 {
  margin-top: 8px;
  margin-bottom: 100px;

}

p {
  margin-bottom: 8px;
}

ul li a {
  height: 53px;
  border: 1px solid rgb(255, 196, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: black;
  text-transform: uppercase;
  font-size: 13px;

  margin-bottom: 16px;
  border-radius: 6px;

  transition: opacity 400ms;
}

ul li a:hover {
  background: var(--primary-color-dark);
  opacity: 1;
}

footer {
  font-weight: 500;
  font-size: 12px;
  color: black;
  opacity: 0.6;
  transition: opacity 400ms;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: black;
}